@model BlogViewModel

@{
    int counter = (ViewBag.PageIndex - 1) * 6;
    var temp = -1;
    if (ViewBag.PageIndex == 1)
    {
        temp = 0;
    }
    if (temp == ViewBag.TotalPages)
    {
        temp = -2;
    }
}

<style>

    footer {
        top: 740px;
    }
</style>


<main>
    <section id="Posts">
        <div class="container">
            <div class="row breadcrumb-row">
                <div class="col-12 col-lg-12">
                    <div class="breadcrumb">
                        <div class="br-icon">
                            <i class="bi bi-headphones"></i>
                        </div>
                        <div class="br-title">
                            <h1>Blog</h1>
                        </div>
                        <div class="br-subtitle">
                            <a asp-action="index" asp-controller="home">Home > <span>Blog</span></a>
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="row">
                @foreach (var item in Model.Blogs)
                {
                    <div class="col-12 col-lg-4">
                        <div class="blogs">
                            <div class="blog-img">
                                <img src="./uploads/blogs/@item.Image" alt="">
                            </div>
                            <div class="blog-metas">
                                <p>by <span>Admin</span></p>|
                                <p>@item.CreatedAt.ToString("d MMMM, yyy")</p>|
                                <p>20 Comment</p>
                            </div>
                            <div class="blog-header">
                                <a asp-controller="blog" asp-action="detail" asp-route-id="@item.Id">@item.Name</a>
                            </div>
                        </div>

                    </div>
                }

            </div>
            <div class="row">
                <div class="col-12">

                    <div class="site-pagination">


                        @if (ViewBag.PageIndex > 1)
                        {
                            <a class="" href="@Url.Action("index","blog",new { page=1})">Back</a>
                        }

                        @for (int i = 1; i <= 3; i++, temp++)
                        {
                            if ((ViewBag.PageIndex + temp) != 0 && (ViewBag.PageIndex + temp) != -1)
                            {
                                <a href="@Url.Action("index","blog", new { page=ViewBag.PageIndex+temp})" class="@(ViewBag.PageIndex+temp==ViewBag.PageIndex?"active-pagination":"")">@(ViewBag.PageIndex+temp)</a>
                            }
                        }
                        @if (ViewBag.PageIndex < ViewBag.TotalPages)
                        {
                            <a class="Next" href="@Url.Action("index","album", new {page=ViewBag.TotalPages})">Next</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>