@model ToursViewModel

<style>
    .tour-desc{
        font-size: 17px !important;
    }
    .adding-btn {
        position: relative;
        top: 20px;
    }
    .tour-btn a {
        text-decoration: none;
        position: relative;
        float: right;
        font-size: 14px;
        padding: 20px 33px 15px;
        min-width: 149px;
        color: #fff;
        line-height: 1;
        text-align: center;
        font-weight: 700;
        border: none;
        text-transform: uppercase;
        background: linear-gradient(45deg, #503aca 0%, #ea34ff 100%);
    }
   
</style>
<main>
    <section id="tour">
        <div class="container">
            <div class="row breadcrumb-row">
                <div class="col-12 col-lg-12">
                    <div class="breadcrumb">
                        <div class="br-icon">
                            <i class="bi bi-headphones"></i>
                        </div>
                        <div class="br-title">
                            <h1>
                                Tours
                            </h1>

                        </div>
                        <div class="br-subtitle">
                            <a asp-action="index" asp-controller="home">Home > <span>Tours</span></a>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="tours-title">
                            <div class="sub-title">
                                <p>Upcoming Shows</p>
                            </div>
                            <h2>WHEN WE ALL FALL ASLEEP</h2>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="tour-btn">
                            <a asp-action="checkout" asp-controller="order">Go To Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-12">
                    <div class="tours-list">
                        <ul>
                            @foreach (var item in Model.Tours)
                            {
                                <li>
                                    <div class="tour-date">
                                        <h2>@item.Date.ToString("dd")</h2>
                                        <span>@item.Date.ToString("MMM")</span>
                                    </div>
                                    <div class="tour-info">
                                        <p>

                                            @item.Info
                                        </p>
                                        <span>

                                            @item.Desc
                                        </span>
                                    </div>
                                    <div class="tour-location">
                                        <p>
                                            <i class="bi bi-geo-alt-fill"></i>
                                            @item.Location

                                        </p>
                                    </div>
                                    <div class="tour-date">
                                        <p>
                                            <i class="bi bi-clock"></i>
                                            @item.Date.ToString("hh:ff")

                                        </p>
                                    </div>
                                    <div>
                                        <p>@item.SalePrice $</p>
                                    </div>
                                    <div class="ticket-btn">
                                        <a  asp-action="AddOrder" asp-controller="tours" asp-route-id="@item.Id">@item.BtnText</a>
                                    </div>
                                </li>
                            }


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>