@model HomeViewModel

@{ 
    int i = 0;
    int counter = 0;
    <style>
        .viewMyplaylist{
        text-decoration:none;
    }
        .tour-btn a{
        text-decoration:none;
        position: relative;
        float: right;
        font-size: 14px;
        padding: 20px 33px 15px;
        min-width: 149px;
        color: #fff;
            line-height: 1;
        text-align: center;
        font-weight: 700;
        border: none;
        text-transform: uppercase;
        background: linear-gradient(45deg, #503aca 0%, #ea34ff 100%);
        }
        .songItem{
            justify-content: flex-start !important;
        }

    </style>
}

    <section class="homeHero">
        <div class="container">
            <div class="slider">
                <ul class="one-time">
                    @foreach (var item in Model.Sliders)
                    {
                        <li>
                            <h4 class="slider-headtext">@item.Title1</h4>
                            <h1 class="slider-name">@item.Title2</h1>
                            <p class="slider-content">
                                @item.Desc
                            </p>
                            <button class="slider-btn">@item.BtnText</button>
                        </li>
                    }


                </ul>
                <div class="navigation d-flex justify-content-between">
                    <div class="prev-arrow"><i class="text-white fa-solid fa-angle-left"></i></div>
                    <div class="next-arrow"><i class="text-white fa-solid fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    
    </section>
    <section class="homeAbout">

        <div class="container">
            <div class="row  align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="">
                        <img class="" src=" ./assets/media/about-section/@Model.Settings["AboutImg"]" alt="">

                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="about-text">
                        <span>@Model.Settings["AboutTitle1"]</span>
                        <h2>@Model.Settings["AboutTitle2"]</h2>
                        <p>
                            @Model.Settings["AboutDesc"]
                        </p>
                        <a asp-action="index" asp-controller="tours">@Model.Settings["AboutBtn"]</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Albums Section -->
    <section id="albums">
        <div class="container album-cont">
            <div class="row justify-content-between">
                <div class="col-12 col-lg-6 album-title">
                    <span>
                        Discover
                    </span>
                </div>
                <div class="col-12 col-lg-6 text-end album-button">
                    <a class="viewMyplaylist" asp-action="index" asp-controller="album">
                        View My Playlist
                    </a>
                </div>
            </div>
            <div class="row my-5">
                <h1>NEWEST ALBUMS & SINGLES</h1>
            </div>
            <div class="row my-5">
                @foreach (var item in Model.Albums)
                {
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="album-card text-center">
                            <div class="album-image">
                                <img src="~/uploads/albums/@item.Image" alt="">
                            </div>
                            <div class="album-title">
                                @item.Name
                            </div>
                            <div class="album-singer">
                               @item.Singer.Name
                            </div>
                        </div>
                    </div>

                }


            </div>
        </div>
    </section>

    <!-- Player Section -->
    <section id="players">
        <div class="container-fluid">
            <div class="row m-0">
                <div class="col-12 col-lg-6 p-0">
                    <div class="player_left">
                        <div class="player-left-inner">
                            <div class="row">
                              

                                <div class="col-lg-7 col-sm-8 text-right">
                                    <div class="controls">
                                        <i class="bi bi-skip-start-fill" id="back"></i>
                                        <i class="bi bi-play-fill" id="masterPlay"></i>
                                        <i class="bi bi-skip-end-fill" id="next"></i>
                                        <div class="track-timers">
                                            <span id="currentStart">0:00</span>
                                            /
                                            <span id="currentEnd">0:00</span>
                                        </div>


                                    </div>
                                    <div class="track-progress">

                                        <input class="progress" id="seek" type="range" min="1" max="100" value="0" class="seek_slider"
                                               anychange="seekTo()">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 p-0">
                    <div class="player-right">
                        <div class="section-title">
                            <h4 class="sub-title">Latest Album</h4>
                            <h2>WHEN WE ALL FALL ASLEEP</h2>
                        </div>
                        <div class="menu_song">
                            <ul>
                                @foreach (var item in Model.AlbumTracks)
                                {
                                    counter++;
                                    <li class="songItem">
                                        <span>@counter</span>
                            
                                        <div class="main-track-name">
                                            <h5>
                                                @item.TackName


                                                <div class="subtitle">@item.Album.Singer.Name</div>
                                            </h5>
                                        </div>
                                       
                                        <i class="bi playListPlay bi-play-circle-fill" data-src="@item.GeneratedSource" data-index="@i"></i>
                                    </li>
                                    i++;
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Video Section -->
    <section id="video" style="background-image: url(./assets/media/main/video-overlay.png.webp);">
        <div class="container">
            <div class="row">
                <video autoplay loop muted plays-inline>
                    <source src="~/assets/media/videoSection/@Model.Settings["VideoSection"]">
                </video>
            </div>
        </div>

    </section>


    <!-- Tours Section -->

    <section id="tours">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="tours-title">
                        <div class="sub-title">
                            <p>Upcoming Shows</p>
                        </div>
                        <h2>WHEN WE ALL FALL ASLEEP</h2>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="tour-btn">
                        <a asp-action="index" asp-controller="tours">View ALL</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-12">
                    <div class="tours-list">
                        <ul>
                            @for (int b = 1; b < 5; b++)
                            {
                            <li>
                                <div class="tour-date">
                                    <h2>@Model.Tours[b].Date.ToString("dd")</h2>
                                    <span>@Model.Tours[b].Date.ToString("MMM")</span>
                                </div>
                                <div class="tour-info">
                                    <p>

                                        @Model.Tours[b].Info
                                    </p>
                                    <span>

                                        @Model.Tours[b].Desc
                                    </span>
                                </div>
                                <div class="tour-location">
                                    <p>
                                        <i class="bi bi-geo-alt-fill"></i>
                                        @Model.Tours[b].Location

                                    </p>
                                </div>
                                <div class="tour-date">
                                    <p>
                                        <i class="bi bi-clock"></i>
                                        @Model.Tours[b].Date.ToString("hh:ff")

                                    </p>
                                </div>
                                <div>
                                    <p>@Model.Tours[b].SalePrice $</p>
                                </div>
                                <div class="ticket-btn">
                                    <a asp-action="AddOrder" asp-controller="tours" asp-route-id="@Model.Tours[b].Id">@Model.Tours[b].BtnText</a>
                                </div>
                            </li>
                            }


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
